

/* a {
  color: #00B7FF;
} */
*{
  color: #383D3B;
}
body, html{
  margin: 0;
  padding: 0;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Crimson Text', serif; */

header{
  max-width: 1024px;
  margin: 35px auto 0;
}
.header-links{
  display: flex;
  flex-wrap: wrap;
  line-height: 146%;
}
.header-bar{
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.header-bar a{
  text-decoration: none;
  margin-right: 15px;
}
.header-bar a:hover{
  text-decoration: underline;
}
/* .header-bar .fb-link{
  margin-left: 15px;
} */
.fb-link i{
  color: #3fbaa5;
}
.fb-link:hover i{
  color: inherit;
}
.logo{
  border-right: 1px solid rgb(163, 163, 163);
  padding: 0 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  width: 113px;
}
.media-boxes{
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  margin-top: 19px;
  height: 503px;
  width: 100%;
}
.media-boxes > div{
  box-sizing: border-box;
  transition: border-bottom 0.3s;
  position: relative;
}
.media-boxes > div:hover{
  border-bottom: 5px solid #3fbaa5;
  background: #3fbaa5;
}
.color-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background: linear-gradient(transparent, 60%, #383D3B);
  opacity: .8;
  transition:  background .3s, opacity .3s;
}
.color-overlay:hover{
  background: linear-gradient(transparent, 70%, #383D3B);
  /* background: #383D3B; */
  opacity: 1;
}
#box1{
  grid-row: 1/3;
}
.title{
  position: absolute;
  bottom: 18px;
  left: 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  margin: 0;
}

.call-to-action{
  max-width: 950px;
  margin: 65px auto;
  font-family: 'Montserrat', sans-serif;
  /* display: flex; */
  align-items: flex-end;
}
.call-to-action h1{
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  display: inline;
}
.call-to-action .fb-like{
  margin: 0 0 15px 25px;
  transform: scale(1.3);
}
.events-container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.events-container h1{
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.events-container ul{
  padding-left: 100px;
  margin-top: 37px;
}
.events-container li{
  list-style: none;
  align-items: center;
  align-items: baseline;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 100px 1fr 0.4fr 100px;
}
.events-container a{
  margin-left: auto;
}
.events-container p{
  margin: 0;
}
.events-container div{
  margin-right: 25px;
}
.events-container .date{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events-container .date p:nth-child(2){
  font-size: 30px;
}
.events-container .date p:nth-child(1){
  font-weight: 400;
}
.events-container .event-titles{
  flex: 1;
}
.events-container .event-titles p:nth-child(1){
  font-weight: 700;
}
.events-container .event-extra-info p{
  font-weight: 400;
  font-size: 17px;
}
.events-container a{
  color: white;
  font-size: 15px;
  background: #3fbaa5;
  padding: 3px 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
  display: block;
}
.events-container a:hover{
  background: #383D3B;
}

.gallery{
  height: 124px;
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 80px auto;
}
.gallery .img{
  height: 124px;
  width: 124px;
  position: relative;
  background-position: center;
  background-size: cover;
}
.gallery .img:hover{
  height: 124px;
  width: 124px;
}
.color-overlay2 p{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.color-overlay2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3fbaa5;
  opacity: 0;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-overlay2:hover{
  /* background: linear-gradient(transparent, 70%, #383D3B); */
  /* background: #383D3B; */
  opacity: .8;
}
/* https://www.one.org/us/ */
.story-wrapper{
  display: grid;
  grid-template-columns: 1fr 682px 341px 1fr;
  grid-template-rows: 145px 145px auto;
  margin-top: 150px;
}
.story-bg{
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}
.story-sidebar{
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
.story-sidebar p, .story-sidebar li{
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  margin-top: 10px;
}
.story-sidebar h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  margin: 0;
  margin-top: 30px;
}
.story{
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  background-color: white;
  padding: 20px;
}
.story-wrapper p{
  font-family: 'Crimson Text', serif;
  font-size: 20px;
}
.story-wrapper h1{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.story-wrapper h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 0;
  text-align: center;
  margin-top: 30px;
}

footer{
  background-color: #7C7C7C;
  height: 95px;
  margin-top: 150px;
}
footer .logo{
  border: 0;
}
footer > div{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
footer .logo{
  margin: 0;
}
footer > div > div{
  display: flex;
}
/* footer .logo{
  display: flex;
} */
footer strong, footer p{
  color: white;
}




/* EDITOR */
.editor{
  background-color: #ecf0f5;
}
.editor header{
  height: 50px;
  width: 100%;
  display: flex;
  padding: 0 calc((100% - 1024px 8) / 2);
  align-items: center;
  color: white;
  background-color: #3c8dbc;
  max-width: initial;
  margin: 0;
  justify-content: flex-end;
  box-sizing: border-box;
}
.editor header h1{
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin-right: auto;
}
.editor h1, .editor p{
  font-family: 'Open Sans', sans-serif;
}
.editor .card{
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
  padding: 20px;
}
.editor-wrapper{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.card-title-bar{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.card-title-bar p{
  margin: 0 0 0 10px;
}
.editor .btn{
  font-size: 16px;
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background: #424242;
  border: 0;
  font-weight: 600;
  opacity: .33;
  transition: opacity .5s;
  margin-left: 10px;
}
.editor .btn.needssave{
  background: #00a65a;
  opacity: 1;
}
.editor .btn i{
  display: none;
}
.editor .btn.updateing i{
  display: initial;
  color: white;
  font-size: 18px;
  margin: 0 3px;
}

.btn[data-update]{
  opacity: 1 !important;
  background-color: #00a65a;
}